@model HelloWord.Models.Pessoa
@{
    ViewBag.Title = "Meu Site";
}

<h2>Página Inicial do meu Site</h2>
<p>Bem-vindo ao meu site em ASP.NET MVC</p>

<form action="Homee/Lista" method="POST">
    <fieldset>
        <legenda>Pessoa</legenda>
        <div>
            <label for=" PessoaId">Código</label>
        </div>
        <div>
            <input type="number" value="@Model.PessoaId" id="PessoaId" name="PessoaId" />
        </div>
        <div>
            <label for="Nome">Nome</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" id="Nome" name="Nome" />
        </div>
        <div>
            <label for="instagran">Instagran</label>
        </div>
        <div>
            <input type="text" value="@Model.Instagran" id="Instagran" name="Instagran" />
        </div>
        <p><input type="submit" value="Enviar"/></p>
    </fieldset>
</form>
<!--<p>@Model.PessoaId</p>-->
<!--<p>@Model.Nome</p>-->
<!--<p>@Model.Instagran</p>-->
